body{
    width: 100%;
    height: 2000px;
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    position: relative;
}

h1{
    color:red;
    text-align: center;
}

#header #navigation{
    padding: 10;
    width: 100%;
    display: flex;
    float:right;
    list-style: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    flex-direction: row;
}


li{
    text-align: center;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.nav{
    text-decoration: none;
    color: white;
    flex:1;
    background-color: black;
    padding: 11;
    padding-left: 2rem;
    padding-right: 2rem;
}

img{
    width: 100%;
}

.nav:hover{
    padding: 11;
    padding-left: 2rem;
    padding-right: 2rem;
    color:blue;
    background-color: white;
}

footer{
    width: 100%;
    height: 15rem;
    background-color: black;
    bottom: 0;
    padding-top: 1rem;
}

.copyright{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 6rem;
}

.social{
    text-align: center;
    margin-top: 2rem;
}

.fb{
    width: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.ig{
    width: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.ld{
    width: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}